@model TechConnect.DtoUI.BasketTotalDtos.ResultBasketTotalDto
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Layout/_Layout.cshtml";
}
<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__text">
                    <h4>Sipariş Sepeti</h4>
                    <div class="breadcrumb__links">
                        <a href="./index.html">Anasayfa</a>
                        <span>Sipariş Sepeti</span>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->
<!-- Shopping Cart Section Begin -->
<section class="shopping-cart spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="shopping__cart__table">
                    <table>
                        <thead>
                            <tr>
                                <th>Ürün</th>
                                <th>MİKTAR</th>
                                <th>FİYAT</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.BasketItems)
                            {
                                <tr>
                                    <td class="product__cart__item">
                                        <div class="product__cart__item__pic">
                                            <img src="@item.Product.ProductImageUrl" style="height:100px;width:100px;" alt="">
                                        </div>
                                        <div class="product__cart__item__text">
                                            <h6>@item.Product.ProductName</h6>
                                            <h5>@item.Product.ProductPrice</h5>
                                        </div>
                                    </td>
                                    <td class="quantity__item">
                                        <div class="quantity">
                                            <div class="pro-qty-2">
                                                <input type="text" value="@item.Quantity">
                                            </div>
                                        </div>
                                    </td>
                                    <td class="cart__price">@item.Product.ProductPrice</td>
                                    <td class="cart__close"><a href="/sipariş-sepeti/sepetten-çıkar/@item.ProductId"><i class="fa fa-close"></i></a></td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
                <br /><br />
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="continue__btn">
                            <a href="/ürünler/">ALIŞVERİŞE Devam Et</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                @await Html.PartialAsync("~/Views/Discount/ConfirmDiscountCoupon.cshtml")
                <div class="cart__total">
                    <h6>Toplam FİYAT</h6>
                    <ul>
                        <li>Toplam Fiyat <span>@Model.TotalPrice ₺</span></li>
                        <li>İndirim Oranı <span> %@ViewBag.discountrate </span></li>
                        <li>Kargo Ücreti <span> 100 ₺ </span></li>
                        <li>İndirimli Fiyat<span>@ViewBag.totalprice ₺</span></li>
                    </ul>


                    <a href="/sipariş-sepeti/adres-işlemleri/" class="primary-btn">Sepetİ Onayla</a>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- Shopping Cart Section End -->
