@model List<TechConnect.DtoUI.AddressDtos.ResultAddressDto>



@{
    ViewData["Title"] = "Index2";

    Layout = "~/Views/Layout/_Layout.cshtml";
}



<style>
    .site-btn:hover {
        background-color: darkred; /* Üzerine gelindiğinde değişen renk */
    }
</style>

<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__text">
                    <h4>Adres İşlemleri</h4>
                    <div class="breadcrumb__links">
                        <a href="./index.html">Anasayfa</a>
                        <span>Sipariş Sepeti ></span>
                        <span>Adres İşlemleri</span>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->
<!-- Checkout Section Begin -->
<section class="checkout spad">
    <div class="container">
        <div class="checkout__form">
            <div class="row">
                <div class="col-lg-8 col-md-6">
                    <div class="row">
                        <div class="col-lg-9">
                            <h6 class="checkout__title">Adres İşlemlerİ</h6>
                        </div>
                        <div class="col-lg-3">
                            <a href="/Adres-Ekle/" style="color:red;font-size:14px;" class="checkout__title"><i class="fa fa-plus"></i> Adres Ekle</a>
                        </div>
                    </div>

                    <p><i style="font-size:14px;">&#8505;  Önceden eklediğiniz adresleriniz var ise birini seçebilir yada düzenleyebilirsiniz aksi durumda ekleme yapabilirsiniz ...</i></p>
                    <p><i style="font-size:15px;">*Ödemeye geçmek için adres seçmeniz yeterlidir...</i></p>
                    @foreach (var item in Model)
                    {
                        <div class="row" style="display:flex;">
                            @*    <a style="width:50px;" href="/sipariş-sepeti/güvenli-ödeme/@item.ID"><input type="radio" id="address_@item.ID" name="selectedAddress" value="@item.ID" style="margin-right:10px;"></a> *@
                            <a href="/sipariş-sepeti/güvenli-ödeme/@item.ID" type="submit" style="align-items:center;padding-top:25px;" class="site-btn">@item.AddressTitle<span>( @item.RealAddress/ @item.City / @item.District )</span></a>
                            <a href="/Adres-Düzenle/@item.ID" style="margin:15px;color:red;height:50px;width:50px; "><i>&#9998;</i></a>
                        </div>
                        <br />
                        <input type="hidden" id="selectedAddressId" name="selectedAddressId" value="" />
                    }
                    <br />
                    <br />
                    <div class="continue__btn">
                        <a href="/sipariş-sepeti/">Sepete GERİ Dön</a>
                    </div>
                </div>


                @await Component.InvokeAsync("_MyOrderComponentPartial")
            </div>

        </div>
    </div>
</section>
