@model TechConnect.DtoUI.ProductDto.GetByIdProductDto
@{
    ViewData["Title"] = "ProductDetail";
    Layout = "~/Views/Layout/_Layout.cshtml";
}


<!-- Shop Details Section Begin -->
<section class="shop-details">
    <div class="product__details__pic">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="product__details__breadcrumb">
                        <a href="./index.html">Anasayfa</a>
                        <a href="./shop.html">Ürünler</a>
                        <span>Ürün Detayı</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-12">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab">
                                <div class="product__thumb__pic set-bg" data-setbg="@Model.ImageUrl1">
                                </div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab">
                                <div class="product__thumb__pic set-bg" data-setbg="@Model.ImageUrl2">
                                </div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tabs-3" role="tab">
                                <div class="product__thumb__pic set-bg" data-setbg="@Model.ImageUrl3">
                                </div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tabs-4" role="tab">
                                <div class="product__thumb__pic set-bg" data-setbg="@Model.VideoUrl4">
                                    <i class="fa fa-play"></i>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-9 col-md-9">
                    <div class="tab-content">
                        <div class="tab-pane active" id="tabs-1" role="tabpanel">
                            <div >
                                <img src="@Model.ImageUrl1" style="height:600px;width:800px;" alt="">
                            </div>
                        </div>
                        <div class="tab-pane" id="tabs-2" role="tabpanel">
                            <div  >
                                <img src="@Model.ImageUrl2" style="height:600px;width:800px;" alt="">
                            </div>
                        </div>
                        <div class="tab-pane" id="tabs-3" role="tabpanel">
                            <div >
                                <img src="@Model.ImageUrl3" style="height:600px;width:800px;" alt="">
                            </div>
                        </div>
                        <div class="tab-pane" id="tabs-4" role="tabpanel">
                            <div >
                                <img src="@Model.VideoUrl4" style="height:600px;width:800px;" alt="">
                                <a href="https://www.youtube.com/watch?v=8PJ3_p7VqHw&list=RD8PJ3_p7VqHw&start_radio=1" class="video-popup"><i class="fa fa-play"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="product__details__content">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-8">
                    <div class="product__details__text">
                        <h4>@Model.ProductName</h4>
                        <div >
                            <div class="rating" style="display:flex;margin-right:10px;margin-left:210px;">
                                <div style="height:10px;width:10px;" id="@("puan")">
                                </div>
                                <p>@ViewBag.ortalamarating Ortalama -@ViewBag.countrating Değerlendirme</p>
                            </div>
                        
                        <h3>@Model.ProductPrice <span>@(Model.ProductPrice+((Model.ProductPrice*10)/100))</span></h3>
                        <p>
                            @Model.ProductDescription
                        </p>
                        <div class="product__details__option">
                            @await Component.InvokeAsync("_ChooseSizeComponentPartial", new { categoryid = @Model.CategoryId, id = @Model.ID })
                            @await Component.InvokeAsync("_ChooseColorComponentPartial", new { id = @Model.ID })
                        </div>
                        <br />
                        <br /><br /><br />
                        <div class="product__details__cart__option">
                            <a href="/sipariş-sepeti/sepete-ekle/@Model.ID"  class="primary-btn">Sepete Ekle</a>
                        </div>
                        <div class="product__details__btns__option">
                            <a href="/favoriler/favori-ekle/@Model.ID"><i class="fa fa-heart"></i>İstek Listesine Ekle</a>
                            <a href="/karşılaştır/karşılaştır-ekle/@Model.ID"><i class="fa fa-exchange"></i>Karşılaştırmaya Ekle</a>
                        </div>
                        <br /><br /><br /><br />
                        <div class="product__details__last__option">
                            <h5><span>Garantili Güvenli Ödeme</span></h5>
                            <img style="height:200px;width:600px;" src="~/iyzico.png" alt="">

                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-lg-12">
                    <div class="product__details__tab">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#tabs-5"
                                   role="tab">Ürün Detayları</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#tabs-6" role="tab">
                                        Müşteri Yorumları (@ViewBag.countrating)
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#tabs-7" role="tab">
                                    Yorum Yap
                                </a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="tabs-5" role="tabpanel">
                                <div class="tab-pane active" id="tabs-5" role="tabpanel">
                                    <div class="product__details__tab__content">

                                        <div class="product__details__tab__content__item">
                                            <h5>Ürün Açıklaması</h5>
                                            <p>
                                                @Model.ProductDescription
                                            </p>
                                            <p>
                                                @Model.ProductInformation
                                            </p>
                                        </div>
                                        <br />

                                        <div class="product__details__tab__content__item">
                                            <h5>Ürün Bilgileri</h5>
                                            <p class="note">
                                                <ul>
                                                    <li><span>Stok Kodu:</span> @Model.StockCode</li>
                                                    <li><span>Kategori:</span> @Model.Category.Name</li>
                                                    <li><span>Marka:</span> @Model.Brand</li>
                                                    <li><span>Stok Miktarı:</span> @Model.StockQuantity</li>
                                                    <li><span>Garanti Bilgisi:</span> @Model.WarrantyInfo</li>
                                                    <li><span>Fiyat:</span> @Model.ProductPrice.ToString("C")</li>
                                                </ul>
                                            </p>
                                        </div>
                                        <br />

                                        <div class="product__details__tab__content__item">
                                            <h5>Malzeme Bilgisi</h5>
                                            <p>
                                                @Model.MaterialUsed
                                            </p>
                                        </div>
                                        <br />

                                        <div class="product__details__tab__content__item">
                                            <h5>Teknik Özellikler</h5>
                                            <ul>
                                                @foreach (var spec in Model.TechnicalSpecifications)
                                                {
                                                    <li><span>@spec.Key:</span> @spec.Value</li>
                                                }
                                                <br />
                                            </ul>
                                        </div>
                                        <br /><br />
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="tabs-6" role="tabpanel">
                                <div class="product__details__tab__content">
                                    <div class="product__details__tab__content__item">

                                        @await Component.InvokeAsync("_CommentListByIdComponentPartial", new { id = Model.ID })

                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="tabs-7" role="tabpanel">
                                <div class="product__details__tab__content">
                                    <div class="blog__details__comment">
                                        @await Html.PartialAsync("~/Views/Comment/AddComment.cshtml", new { id = ViewBag.productid })
                                        <br /><br />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Shop Details Section End -->
<!-- Comment List End -->
@*    star rating  *@
<script src="~/star2/jquery.min.js"></script>
<script src="~/star2/jquery.rateyo.js"></script>
<script src="~/star2/jquery.rateyo.min.js"></script>
<link href="~/star2/jquery.rateyo.css" rel="stylesheet" />
<link href="~/star2/jquery.rateyo.min.css" rel="stylesheet" />
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.css">
<!-- Latest compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.js"></script>

<script>

    $(document).ready(function () {

        $('#@("puan")').rateYo({

            rating: @ViewBag.intrating,
            readonly: true,
            starWidth: "18px",
            multiColor: {

                "startColor": "#FF0000", //RED
                "endColor": "#00FF00"  //GREEN
            }
        });
    });

</script>